
<th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
    @if (ViewBag.CurrentSortBy == ViewBag.QueryName && ViewBag.CurrentSortOrderOption == "ascending")
    {
        <a href="~/persons/index/?searchByForm=@ViewBag.CurrentSearchBy&searchStringForm=@ViewBag.CurrentSearchString&sortBy=@ViewBag.CurrentSortBy&sortOrderOption=@nameof(SortOrderOption.descending)">@ViewBag.DisplayName </a>
        <i class="fa-solid fa-sort-up"></i>
    }
    else if (ViewBag.CurrentSortBy == ViewBag.QueryName && ViewBag.CurrentSortOrderOption == SortOrderOption.descending.ToString())
    {
        <a href="~/persons/index/?searchByForm=@ViewBag.CurrentSearchBy&searchStringForm=@ViewBag.CurrentSearchString&sortBy=@ViewBag.QueryName&sortOrderOption=ascending">@ViewBag.DisplayName</a>
        <i class="fa-solid fa-sort-down"></i>
    }
    else
    {
        // if the sortby is other than person name then we sort on ascending order which is the default behaviour
        <a href="~/persons/index/?searchByForm=@ViewBag.CurrentSearchBy&searchStringForm=@ViewBag.CurrentSearchString&sortBy=@ViewBag.QueryName&sortOrderOption=ascending">@ViewBag.DisplayName </a>
    }
</th>