<!DOCTYPE Html>
<html>
	<head>
	<title>Contacts Manager</title>
	<link rel="stylesheet" href="~/css/output.css" />
	</head>
	<body>

<h1 class="bg-red-500">this is the contact manager app</h1>
	</body>
</html>